body,h1,h2,h3,h5,h6,pre,p,ol,ul,li,form,img input,textarea,dl,dd,dt,span,div{
  margin:0;
  padding:0;
  }
  ul,ol{
  list-style:none;
  }
  a{
  text-decoration:none;
  }
  body{
  background:#fff;
  }
  *{
  font-family:"微软雅黑","宋体","sans-serif";}
  img
  {
  border:none;}
